<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{ site.name }} » {{ page.title}}</title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/css/banshee.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/css/syntax.css" media="screen" />
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="<?php bloginfo ('rss2_url')?>" />
  <link rel="alternate" type="text/xml" title="RSS .92" href="<?php bloginfo ('rss_url')?>" />
  <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="<?php bloginfo ('atom_url')?>" />
  <link rel="icon" href="/images/favicon.ico"></link>
  <link rel="SHORTCUT ICON" href="/images/favicon.ico"></link>
  <link rel="apple-touch-icon" href="/images/appleicon.ico" />

  <script type="text/javascript" src="/js/scriptaculous/prototype.js"></script>
  <script type="text/javascript" src="/js/scriptaculous/scriptaculous.js"></script>

{% include analytics %}
{% include google-search %}

</head>
<body>
<div id="page">
  <div id="header">
    <h1>{{ site.name }}</h1>
    <a href="/"><img src="/images/header-logo.png" alt="{{ site.name }}" /></a>

    {% include header-tabs %}

    <div id="search">
      <gcse:searchbox-only></gcse:searchbox-only>
    </div>
  </div>
  
  <div id="content-header"><h2>{{ page.long-title }}</h2></div>

  <div id="wrapper">
    <div id="content" {% unless page.show-sidebar %} class="wide" {% endunless %}>

    {{ content }}

    </div><!--#content-->

    {% if page.show-sidebar %}
    <div id="sidebar">
      <div class="box menu">
        <ul>
          {% include sidebar %}
        </ul>
      </div>
    </div>
    {% endif %}

    <div id="footer">
      {% include footer %}
    </div>
    
  </div><!--#wrapper-->

</div>

<center>
<p style="font-size:.7em;">Copyright 2013 Banshee contributors.  Banshee is a registered trademark of <a href="http://www.novell.com/linux">Novell</a>.</p>
</center>

</div><!--#page-->
</body>
</html>
